html {
    font-size: 16px;
    font-family: 'Manrope';
}
body {
    background-color: hsl(210, 46%, 95%);
}
.Container {
    border-radius: 3%;
    display: grid;
    grid-template-columns: 400px 500px;
    grid-template-rows: auto;
    background-color: white;
    margin: 15% 25%;
    overflow: hidden;
}

.imgContainer {
columns: 1;
}

.img {
    max-width: 100%;
}

.textContainer {
    display: flex;
    flex-direction: column;
    columns: 2;
    padding: 1% 5%;
    text-align: left;
    font-weight: 700;
    color: hsl(214, 17%, 51%);
    
}

.textContainer p {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 10%;
}

.Headshot {
    width: 10%;
    border-radius: 50%;
}
.About {
    display: flex;
    flex-direction: row;
}

.Info {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    align-self: center;
}

.Info p {
    margin: 0% 5%;
}

.Arrow {
    align-self: end;
    width: 6%;
    padding: 2%;
    background-color: hsl(210, 46%, 95%);
    border-radius: 50%;
}

.Name {
    color: black;

}

.popUp {
    border-radius: 5%;
    display: flex;
    flex-direction: row;
    color: white;
    background-color: black;
    width: 10%;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    display: none;
    bottom: 22vw;
    left: 65vw;
    
}


.imgs {
    
 height: 10%;
 
}


@media (max-width: 375px) {
    .Container {
        border-radius: 3%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        background-color: white;
        margin: 25% auto;
        overflow: hidden; 
    }
        .textContainer {
            columns: 1;
      }

      .popUp {
        width: 50%;
        bottom: 20vw;
        left: 45vw;
      }
    }

    